{% extends 'base.html' %}


{% block header %}
<div style="border: 1px solid #000;">
    <h1>Ini adalah Header</h1>
</div>

{% endblock header %}
    

{% block content %}
<div style="border: 1px solid #000;">
    <h2>List Dari Pertanyaan</h2>
    {% for a in account  %}

    {% include 'snippets/tes.html' with value=a %}   

    {% endfor %}
        
    
    
</div>

{% endblock content %}


{% block footer %}
<div style="border: 1px solid #000;">
    <h3>isi dari footer</h3>
</div>
{% endblock footer %}
        